<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117484975-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117484975-2');
  </script>
  <title>Florida Energy Systems Consortium (FESC)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Social Media meta tags -->
  <meta property="og:title" content="Florida Energy Systems Consortium">
  <meta property="og:description" content="The Florida Energy Systems Consortium (FESC) was created by the Florida State government to promote collaboration among the energy experts at its 12 supported universities to share energy-related expertise.">
  <meta property="og:image" content="https://halleyl.github.io/florida-energy/images/index-social1.jpg">
  <meta property="og:url" content="https://halleyl.github.io/florida-energy/index.html">
  <meta property="og:type" content="website">
  <meta name="twitter:title" content="Florida Energy Systems Consortium">
  <meta name="twitter:description" content="The Florida Energy Systems Consortium (FESC) was created by the Florida State government to promote collaboration among the energy experts at its 12 supported universities to share energy-related expertise.">
  <meta name="twitter:image" content="https://halleyl.github.io/florida-energy/images/index-social1.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <!-- End Social -->
  
  <!-- Twitter JS widget -->
  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
  }(document, "script", "twitter-wjs"));</script>
  <!-- End Twitter widget -->
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="styles/stylesheet.css" rel="stylesheet">
  <!-- End Stylesheets -->
  <!-- Vue loader -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/components.js"></script>
</head>
<body>
  <header>
    <!-- FESC logo -->
    <div id="top-logo"><logo></logo></div>
    <!-- Top Navigation -->
    <nav id="top-nav">
      <ul id="main-nav">
        <li>
          <a href="index.html">Home</a>
          <i class="fas fa-caret-down"></i>
          <ul>
            <li v-for="hitem in home"><a :href="hitem.url">{{ hitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Research</a>
          <i class="fas fa-caret-down"></i>
          <ul>
            <li v-for="ritem in research"><a :href="ritem.url">{{ ritem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="education.html">Education</a>
          <i class="fas fa-caret-down"></i>
          <ul>
            <li v-for="eitem in education"><a :href="eitem.url">{{ eitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Outreach</a>
          <i class="fas fa-caret-down"></i>
          <ul>
            <li v-for="oitem in outreach"><a :href="oitem.url">{{ oitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="industry.html">Industry</a>
          <i class="fas fa-caret-down"></i>
          <ul>
            <li v-for="iitem in industry"><a :href="iitem.url">{{ iitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!-- End Top Navigation -->
  </header>
  <!-- Brochure download button -->
  <section id="content">
    <article>
      <h2>FESC: Bringing Energy Solutions to Florida, the Nation and the World</h2>
      <img src="images/index1.jpg" alt="Wind turbines in a field">
      <p>The Florida Energy Systems Consortium (FESC) was created by the Florida State government to promote collaboration among the energy experts at its 12 supported universities to share energy-related expertise. The consortium assists the state in the development and implementation of an environmentally compatible, sustainable, and efficient energy strategic plan. The Consortium was charged to 
      <span class="inline-quote">&lsquo;perform research and development on innovative energy systems that lead to alternative energy strategies, improved energy efficiencies, and expanded economic development for the state.&rsquo;</span> The legislature appropriated funding for research at five of the universities as well as support for education, outreach, and technology commercialization. The Consortium reports to and provides guidance on an as needed basis to the Florida Legislature, Executive Office of the Governor, and the Florida's Office of Energy housed in the Florida Department of Agriculture and Consumer Services.</p>

      <p>Overarching to the Consortium's research strategy is an energy systems approach to identify innovation opportunities, prepare an energy workforce, and guide economic development.</p>

      <p>Through collaborative research and development across the State University System and the industry, the goal of the consortium is to become a world leader in energy research, education, technology, and energy systems analysis. In so doing, the consortium shall:</p>

      <ol>
        <li>Coordinate and initiate increased collaborative interdisciplinary energy research among the universities and the energy industry.</li>

        <li>Assist in the creation and development of a Florida-based energy technology industry through efforts that would expedite commercialization of innovative energy technologies by taking advantage of the energy expertise within the State University System, high-technology incubators, industrial parks, and industry-driven research centers.</li>

        <li>Provide a state resource for objective energy systems analysis.</li>

        <li>Develop education and outreach programs to prepare a qualified energy workforce and informed public.</li>
      </ol>
    </article>
    <section id="asides">
      <aside>
        <button>Download our brochure</button>
      </aside>
      <!-- Video embed iframe -->
      <aside>
        <iframe src="https://www.youtube.com/embed/YA2ofbdd-G8?rel=0"></iframe>
      </aside>
      <div id="social">
        <!-- Facebook share button -->
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fhalleyl.github.io%2Fflorida-energy%2Findex.html&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId" width="73" height="28"></iframe>

        <!-- Twitter share button -->
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Florida%20Energy%20Systems%20Consortium%20(FESC)" data-size="large">Tweet</a>
      </div>
    </section>
  </section>
  <footer>
    <!-- Bottom Navigation -->
    <nav id="bottom-nav">
      <ul id="main-bottom-nav">
        <li>
          <a href="index.html">Home</a>
          <ul>
            <li v-for="hitem in home"><a :href="hitem.url">{{ hitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Research</a>
          <ul>
            <li v-for="ritem in research"><a :href="ritem.url">{{ ritem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="education.html">Education</a>
          <ul>
            <li v-for="eitem in education"><a :href="eitem.url">{{ eitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Outreach</a>
          <ul>
            <li v-for="oitem in outreach"><a :href="oitem.url">{{ oitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="industry.html">Industry</a>
          <ul>
            <li v-for="iitem in industry"><a :href="iitem.url">{{ iitem.name }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Contact Us</a>
          <p>272 Grinter Hall<br>
            P.O. Box 115500<br>
            Gainesville, FL 32611<br>
            (352) 294-2027</p>
        </li>
      </ul>
    </nav>
    <!-- End Bottom Navigation -->
    
    <!-- Partner University Logos -->
    <div id="uni-copy">
      <uni-logos></uni-logos>
      <p>© 2008-2018 Florida Energy Systems Consortium.</p>
    </div>
  </footer>
  <script src="js/nav.js"></script>
</body>
</html>