/* Mixin for basic layout of nav flexboxes */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  color: #353535;
  font-family: "Lato", sans-serif; }
  body p {
    margin-bottom: 1rem;
    line-height: 1.2rem; }
  body a {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip: ink;
    color: #00784B; }
    body a:hover {
      color: #004B23; }
    body a:active {
      color: #353535; }
    body a:focus {
      color: #353535; }
    body a:visited {
      color: #00784B; }

header {
  background-color: #F6F1E4; }

header img {
  display: block;
  margin: auto; }

h1 {
  color: #00784B;
  text-align: center; }

h1 + p {
  text-align: center;
  font-size: 110%;
  letter-spacing: .2rem;
  color: #999999; }

/* add padding to h1 and subheader on narrow width */
@media (max-width: 800px) {
  h1 {
    padding: 0 2rem; }

  h1 + p {
    padding: 0 2rem; } }
#main-nav {
  line-height: 3rem;
  background-color: #CEB36C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  font-weight: bold;
  position: relative;
  padding-left: 2rem; }
  #main-nav li {
    list-style-type: none; }
  #main-nav > li {
    text-indent: 1rem;
    width: 100%;
    padding: 0;
    /* Transition for subtle fade-in of hover effect */
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }
  #main-nav a {
    color: white;
    text-decoration: none; }
  #main-nav li ul {
    text-indent: 0;
    -webkit-box-shadow: 3px 3px 5px #999999;
            box-shadow: 3px 3px 5px #999999;
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: normal;
    background-color: #FFE59B; }
    #main-nav li ul a {
      color: #353535;
      padding: 1.5rem; }
  #main-nav > li:hover {
    background-color: #5E5232;
    text-shadow: 1px 1px 1px #353535; }
  #main-nav > li:hover ul {
    display: block; }
  #main-nav > li:hover i {
    color: white; }
  #main-nav li li {
    text-shadow: 0 0;
    /* Transition for subtle fade-in of hover effect */
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }
  #main-nav li li:hover {
    background-color: #F6F1E4; }
  #main-nav i {
    color: #5E5232; }

/* Define breakpoints for top nav */
@media (max-width: 1000px) {
  #main-nav {
    padding-left: 0; }

  #main-nav li {
    text-align: center;
    text-indent: 0; }

  #main-nav li ul {
    padding: 0;
    margin: 0;
    text-indent: 0; }

  #main-nav li li {
    padding: 0;
    margin: 0;
    width: 100%; }

  #main-nav li ul a {
    padding-left: .5rem; } }
@media (max-width: 800px) {
  #main-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0; }

  #main-nav > li {
    width: 30%; }

  #main-nav li:hover ul {
    display: none; }

  #main-nav i {
    display: none; } }
h2 {
  font-family: "Patua One", serif;
  margin: 1rem 0 .5rem 0; }

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

article {
  margin: auto;
  padding: 1rem 1rem;
  max-width: 50rem; }

article img {
  float: right;
  margin: 1rem;
  max-width: 50%;
  border: 1px solid #353535; }

/*  */
@media (max-width: 800px) {
  article img {
    float: none;
    display: block;
    margin: 1rem auto;
    max-width: 100%; } }
.inline-quote {
  font-style: italic;
  margin-right: .2rem; }

ol {
  list-style-type: lower-alpha;
  margin-left: 2rem;
  line-height: 1.3rem; }

iframe {
  width: 100%; }

#asides {
  max-width: 30%;
  padding: .5rem;
  margin: 1rem;
  background-color: #F6F1E4; }
  #asides button {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: #FFE59B;
    font-size: 100%;
    color: #353535;
    border: 1px solid #5E5232;
    -webkit-box-shadow: 1px 1px #5E5232;
            box-shadow: 1px 1px #5E5232; }
    #asides button:visited {
      background-color: #CEB36C; }
    #asides button:hover {
      background-color: #5E5232;
      color: white; }
    #asides button:active {
      background-color: #353535; }
    #asides button:focus {
      background-color: #353535; }

#social {
  background-color: #FFE59B;
  border: 1px solid #353535;
  margin: .5rem 0;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  #social iframe {
    max-width: 5rem;
    border: none; }

/* Define breakpoint to drop asides below article */
@media (max-width: 800px) {
  #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  #asides {
    width: 90%;
    max-width: 30rem;
    margin: auto; }

  #asides aside iframe {
    height: 100%; } }
footer {
  background-color: #CEB36C; }

#main-bottom-nav {
  margin-top: 1rem;
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none; }
  #main-bottom-nav li {
    list-style-type: none; }
  #main-bottom-nav > li {
    padding-left: .5rem;
    border-left: 1px solid #5E5232;
    font-weight: bold;
    line-height: 2rem; }
    #main-bottom-nav > li:first-of-type {
      padding-left: 0;
      border-left: 0; }
    #main-bottom-nav > li li {
      border: 0;
      font-weight: normal;
      color: white;
      line-height: 1.2rem;
      padding-left: .75rem; }
  #main-bottom-nav a {
    text-decoration: none;
    color: white; }
    #main-bottom-nav a:visited {
      color: white; }
    #main-bottom-nav a:hover {
      color: #353535;
      text-decoration: underline;
      -webkit-text-decoration-skip: ink;
              text-decoration-skip: ink; }
    #main-bottom-nav a:focus {
      color: #00784B; }
    #main-bottom-nav a:active {
      color: #00784B; }
  #main-bottom-nav li p {
    font-weight: normal;
    font-size: .75rem; }

/* Define breakpoints for top nav */
@media (max-width: 1000px) {
  #main-bottom-nav li ul {
    padding: 0;
    margin: 0;
    text-indent: 0; }

  #main-bottom-nav li li {
    padding: 0;
    margin: 0;
    width: 100%; }

  #main-bottom-nav li ul a {
    padding-left: .5rem; } }
/* Define breakpoints for bottom nav */
@media (max-width: 1000px) {
  #main-bottom-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  #main-bottom-nav > li {
    width: 30%; }

  #main-bottom-nav > li:first-child {
    padding-left: 1rem;
    padding-bottom: .5rem; }

  #main-bottom-nav > li:nth-child(2) {
    padding-bottom: .5rem; }

  #main-bottom-nav > li:nth-child(3) {
    padding-bottom: .5rem; }

  #main-bottom-nav > li:nth-child(4) {
    border-left: none;
    padding-left: 1rem;
    padding-top: .5rem;
    border-top: 1px solid #F6F1E4; }

  #main-bottom-nav > li:nth-child(5) {
    padding-top: .5rem;
    border-top: 1px solid #F6F1E4; }

  #main-bottom-nav > li:nth-child(6) {
    padding-top: .5rem;
    border-top: 1px solid #F6F1E4; } }
@media (max-width: 600px) {
  #main-bottom-nav > li {
    width: 45%; }

  #main-bottom-nav > li:nth-child(2) {
    padding-left: 1rem; }

  #main-bottom-nav > li:nth-child(3) {
    border-left: 0;
    padding-left: 1rem;
    border-top: 1px solid #F6F1E4; }

  #main-bottom-nav > li:nth-child(4) {
    border-left: 1px solid #353535;
    padding-left: 1rem;
    border-top: 1px solid #F6F1E4; }

  #main-bottom-nav > li:nth-child(5) {
    border-left: 0;
    padding-left: 1rem; }

  #main-bottom-nav > li:nth-child(6) {
    padding-left: 1rem; } }
#unis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F0F0F0;
  margin: 0 3rem;
  padding: .5rem 1.5rem;
  border-radius: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  #unis + p {
    display: block;
    font-size: .75rem;
    text-align: center;
    padding: .5rem; }
  #unis img:hover {
    opacity: 0.5; }

@media (max-width: 1000px) {
  #unis {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  #unis img {
    padding: .25rem; } }

/*# sourceMappingURL=stylesheet.css.map */