$main: #CEB36C;
$main-light: #FFE59B;
$main-lightest: #F6F1E4;
$main-dark: #5E5232;

$accent: #00784B;
$accent-light: #46A877;
$accent-dark: #004B23;

$dark: #353535;
$light: #999999;

$body-font: 'Lato', sans-serif;
$display-font: 'Patua One', serif;

/* Mixin for basic layout of nav flexboxes */
@mixin nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: $dark;
  font-family: $body-font;
  p {
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }
  a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: $accent;
    &:hover {
      color: $accent-dark;
    }
    &:active {
      color: $dark;
    }
    &:focus {
      color: $dark;
    }
    &:visited {
      color: $accent;
    }
  }
}

header {
  background-color: $main-lightest;
}

header img {
  display: block;
  margin: auto;
}

h1 {
  color: $accent;
  text-align: center;
}

h1 + p {
  text-align: center;
  font-size: 110%;
  letter-spacing: .2rem;
  color: $light;
}

/* add padding to h1 and subheader on narrow width */
@media(max-width:800px) {
  h1 {
    padding: 0 3rem;
  }
  h1 + p {
    padding: 0 2rem;
  }
}


#main-nav {
  line-height: 3rem;
  background-color: $main;
  @include nav-flex;
  font-weight: bold;
  position: relative;
  padding-left: 2rem;
  &>li {
    text-indent: 1rem;
    width: 100%;
    padding: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
  li ul {
    text-indent: 0;
    box-shadow: 3px 3px 5px $light;
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: normal;
    background-color: $main-light;
    a {
      color: $dark;
      padding: 1.5rem;
    }
  }
  &>li:hover {
    background-color: $main-dark;
    text-shadow: 1px 1px 1px $dark;
  }
  &>li:hover ul {
    display: block;
  }
  &>li:hover i {
    color: white;
  }
  li li {
    text-shadow: 0 0;
  }
  li li:hover {
    background-color: $main-lightest;
  }
  i {
    color: $main-dark;
  }
}

/* Define breakpoints for top nav */
@media(max-width:1000px){
  #main-nav {
  }
  #main-nav li ul {
    padding: 0;
    margin: 0;
    text-indent: 0;
  }
  #main-nav li li {
   padding: 0;
   margin: 0;
   width: 100%;
  }
  #main-nav li ul a {
    padding-left: .5rem;
  }
}

@media(max-width:800px) {
  #main-nav {
    flex-wrap: wrap;
    padding-left: 0;
  }
  #main-nav > li {
    width: 30%;
  }
  #main-nav li:hover ul {
    display: none;
  }
  #main-nav i {
    display: none;
  }

}

h2 {
  font-family: $display-font;
  margin: 1rem 0 .5rem 0;
}

#content {
  display: flex;
  flex-direction: row;
}

article {
  margin: auto;
  padding: 1rem 1rem;
  max-width: 50rem;
}

.inline-quote {
  font-style: italic;
  margin-right: .2rem;
}

ol {
  list-style-type: lower-alpha;
  margin-left: 2rem;
  line-height: 1.3rem;
}

iframe {
  width: 100%;
}

#asides {
  max-width: 30%;
  padding: .5rem;
  margin: 1rem;
  background-color: $main-lightest;
  button {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: $main-light;
    font-size: 100%;
    color: $dark;
    border: 1px solid $main-dark;
    box-shadow: 1px 1px $main-dark;
    &:visited {
      background-color: $main;
    }
    &:hover {
      background-color: $main-dark;
      color: white;
    }
    &:active {
      background-color: $dark;
    }
    &:focus {
      background-color: $dark;
    }
  }
}

#social {
  background-color: $main-light;
  border: 1px solid $dark;
  margin: .5rem 0;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  iframe {
    max-width: 5rem;
    border: none;
  }
}

/* Define breakpoint to drop asides below article */
@media(max-width:800px) {
  #content {
    flex-direction: column;
  }
  #asides {
    width: 90%;
    max-width: 30rem;
    margin: auto;
  }
  #asides aside iframe {
    height: 100%;
  }
}


footer {
  background-color: $main;
}

#main-bottom-nav {
  margin-top: 1rem;
  padding: 1rem .5rem;
  @include nav-flex;
  &>li {
    padding-left: .5rem;
    border-left: 1px solid $main-dark;
    font-weight: bold;
    line-height: 2rem;
    &:first-of-type {
      padding-left: 0;
      border-left: 0;
    }
    li {
      border: 0;
      font-weight: normal;
      color: white;
      line-height: 1.2rem;
      padding-left: .75rem;
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: $dark;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
    &:focus {
      color: $accent;
    }
    &:active {
      color: $accent;
    }
  }
  li p {
    font-weight: normal;
    font-size: .75rem;
  }
}

/* Define breakpoints for top nav */
@media(max-width:1000px){
  #main-bottom-nav {
  }
  #main-bottom-nav li ul {
    padding: 0;
    margin: 0;
    text-indent: 0;
  }
  #main-bottom-nav li li {
   padding: 0;
   margin: 0;
   width: 100%;
  }
  #main-bottom-nav li ul a {
    padding-left: .5rem;
  }
}

/* Define breakpoints for bottom nav */
@media(max-width:1000px) {
  #main-bottom-nav {
    flex-wrap: wrap;
  }
  #main-bottom-nav > li {
    width: 30%;
  }
  #main-bottom-nav > li:first-child {
    padding-left: 1rem;
    padding-bottom: .5rem;
  }
  #main-bottom-nav > li:nth-child(2) {
    padding-bottom: .5rem;    
  }
  #main-bottom-nav > li:nth-child(3) {
    padding-bottom: .5rem;    
  }
  #main-bottom-nav > li:nth-child(4) {
    border-left: none;
    padding-left: 1rem;
    padding-top: .5rem;
    border-top: 1px solid $main-lightest;
  }
  #main-bottom-nav > li:nth-child(5) {
    padding-top: .5rem;
    border-top: 1px solid $main-lightest;
  }
  #main-bottom-nav > li:nth-child(6) {
    padding-top: .5rem;
    border-top: 1px solid $main-lightest;
  }
}

@media(max-width:600px) {
  #main-bottom-nav > li {
    width: 45%;
  }
  #main-bottom-nav > li:nth-child(2) {
    padding-left: 1rem;
  }
  #main-bottom-nav > li:nth-child(3) {
    border-left: 0;
    padding-left: 1rem;
    border-top: 1px solid $main-lightest;
  }
  #main-bottom-nav > li:nth-child(4) {
    border-left: 1px solid $dark;
    padding-left: 1rem;
    border-top: 1px solid $main-lightest;
  }
  #main-bottom-nav > li:nth-child(5) {
    border-left: 0;
    padding-left: 1rem;
  }
  #main-bottom-nav > li:nth-child(6) {
    padding-left: 1rem;
  }
}

#unis {
  display: flex;
  background-color: #F0F0F0;
  margin: 0 3rem;
  padding: .5rem 1.5rem;
  border-radius: 2rem;
  justify-content: space-around;
  & + p {
    display: block;
    font-size: .75rem;
    text-align: center;
    padding: .5rem;
  }
  img:hover {
    opacity: 0.5;
  }
}

@media(max-width:1000px) {
  #unis {
    flex-wrap: wrap;
  }
  #unis img {
    padding: 1rem;
  }
}
